<form action="{{ saveExceptionAction }}" method="POST">
    {{ exceptionForm.bIDHidden }}
    <fieldset>
        <legend style="margin-bottom: 0;">
            {{ t('Uitzondering') }}
        </legend>
        <div class="control-group">
            {{ exceptionForm.startLabel }}
            {{ exceptionForm.startText }}
        </div>
        <div class="control-group">
            {{ exceptionForm.endLabel }}
            {{ exceptionForm.endText }}
            <span class="help-inline help-inline--days"></span>
        </div>
        <div class="control-group">
            {{ exceptionForm.creditsLabel }}
            {{ exceptionForm.creditsText }}
            <span class="help-inline help-inline--credits"></span>
        </div>
        <div class="control-group">
            {{ exceptionForm.bookOnlyWeeksLabel }}
            {{ exceptionForm.bookOnlyWeeksCheckbox }}
        </div>
        <div class="control-group">
            {{ exceptionForm.maxNumberOfDaysLabel }}
            {{ exceptionForm.maxNumberOfDaysCheckbox }}
            <span class="help-inline">{{ t('Het maximum aantal dagen dat je aaneengesloten mag boeken in deze periode. Vul 0 in voor onbeperkt.') }}</span>
        </div>
        <div class="control-group">
            {{ exceptionForm.notesLabel }}
            {{ exceptionForm.notesTextarea }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ t('Opslaan') }}</button>
        </div>
    </fieldset>
</form>
<a class="btn" href="{{ reserveringen }}"><i class="icon-chevron-left"></i> Terug</a>
