{% if blocks %}
<table class="cottage_booker__dashboard__overview table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                {{ t('Naam') }}
            </th>
            <th>
                {{ t('Reserveringen') }}
            </th>
            <th>
                {{ t('Nieuwste reservering') }}
            </th>
            <th colspan="4">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blocks %}
            <tr>
                <td>
                    {{ block['cottageName'] }}
                </td>
                <td>
                    {{ block['totalBookings'] }}
                </td>
                <td>
                    {{ block['last_modified'] }}
                </td>
                <td><a rel="external" target="blank" href="{{ block['page'] }}">Open pagina</a></td>
                <td><a href="{{ action('reserveringen', block['bID']) }}">Reserveringen</a></td>
                <td><a href="{{ usersURL }}">Gebruikers</a></td>
                <td><a href="{{ action('settings', block['bID']) }}">Instellingen</a></td>
            </tr>

        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-info">
        {{ t("Er zijn nog geen reserveringspagina's.") }}
        {{ t("Maak een nieuwe pagina aan en voeg het blok 'Cottage Booker' toe.") }}
    </div>
{% endif %}
