{{ bookingTabs | raw }}
<div id="ccm-tab-content-bookings" class="ccm-tab-content">
    <p>
        <a class="btn" href="{{ action('addBooking', bID) }}"><i class="icon-plus"></i> Reservering toevoegen</a>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    {{ t('Door') }}
                </th>
                <th>
                    {{ t('Begin') }}
                </th>
                <th>
                    {{ t('Eind') }}
                </th>
                <th>
                    {{ t('Kosten') }}
                </th>
                <th>
                    {{ t('Opmerkingen') }}
                </th>
                <th>
                    {{ t('Personen') }}
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in aBookings %}
                <tr>
                    <td>
                        {{ booking['user'] }}
                    </td>
                    <td>
                        {{ booking['start'] }}
                    </td>
                    <td>
                        {{ booking['end'] }}
                    </td>
                    <td>
                        {{ booking['credits'] }}
                    </td>
                    <td style="width: 50%">
                        {{ booking['notes'] }}
                    </td>
                    <td>
                        {{ booking['persons'] }}
                    </td>
                    <td>
                        <a href="{{ action('editBooking', booking['entryID']) }}"><i class="icon-pencil"></i></a>
                        <a class="cottage_booker__dashboard__button--delete-booking" href="<?php echo $this->action('cancelBooking', booking['entryID']); ?>"><i class="icon-trash"></i></a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="ccm-tab-content-cancellations" class="ccm-tab-content">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    {{ t('Door') }}
                </th>
                <th>
                    {{ t('Begin') }}
                </th>
                <th>
                    {{ t('Eind') }}
                </th>
                <th>
                    {{ t('Kosten') }}
                </th>
                <th>
                    {{ t('Opmerkingen') }}
                </th>
                <th>
                    {{ t('Personen') }}
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in aCancelled %}
                <tr>
                    <td>
                        {{ booking['user'] }}
                    </td>
                    <td>
                        {{ booking['start'] }}
                    </td>
                    <td>
                        {{ booking['end'] }}
                    </td>
                    <td>
                        {{ booking['credits'] }}
                    </td>
                    <td style="width: 50%">
                        {{ booking['notes'] }}
                    </td>
                    <td>
                        {{ booking['persons'] }}
                    </td>
                    <td>
                        <a class="cottage_booker__dashboard__button--delete-cancellation" href="<?php echo $this->action('removeCancellation', booking['entryID']); ?>"><i class="icon-trash"></i></a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="ccm-tab-content-exceptions" class="ccm-tab-content">
    <p>
        <a class="btn" href="<?php echo $this->action('addException', $bID); ?>"><i class="icon-plus"></i> Uitzondering toevoegen</a>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    {{ t('Door') }}
                </th>
                <th>
                    {{ t('Begin') }}
                </th>
                <th>
                    {{ t('Eind') }}
                </th>
                <th>
                    {{ t('Kosten per dag') }}
                </th>
                <th>
                    {{ t('Alleen week boeken') }}
                </th>
                <th>
                    {{ t('Maximum aantal dagen') }}
                </th>
                <th>
                    {{ t('Opmerkingen') }}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for booking in aExceptions %}
                <tr>
                    <td>
                        {{ booking['user'] }}
                    </td>
                    <td>
                        {{ booking['start'] }}
                    </td>
                    <td>
                        {{ booking['end'] }}
                    </td>
                    <td>
                        {{ booking['credits'] }}
                    </td>
                    <td>
                        {{ ((booking['bookOnlyWeeks'] == 1) ? 'Ja' : 'Nee') }}
                    </td>
                    <td>
                        {{ booking['maxNumberOfDays'] }}
                    </td>
                    <td style="width: 30%">
                        {{ booking['notes'] }}
                    </td>
                    <td>
                        <a href="<?php echo $this->action('editException', booking['entryID']); ?>"><i class="icon-pencil"></i></a>
                        <a class="cottage_booker__dashboard__button--delete-exception" href="<?php echo $this->action('deleteException', booking['entryID']); ?>"><i class="icon-trash"></i></a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="cottage_booker__dashboard__confirm__delete--booking hide">
    <p>
    {{ t('Weet je zeker dat je deze reservering wilt annuleren?') }}
    </p>
</div>
<div class="cottage_booker__dashboard__confirm__delete--cancellation hide">
    <p>
    {{ t('Weet je zeker dat je deze annulering wilt verwijderen?') }}
    </p>
    <p>
    {{ t('Deze gebruiker kan dan weer reserveren in deze periode.') }}
    </p>
</div>
<div class="cottage_booker__dashboard__confirm__delete--exception hide">
    <p>
    {{ t('Weet je zeker dat je deze uitzondering wilt verwijderen?') }}
    </p>
</div>
<?php
