{{ settingTabs }}
<div id="ccm-tab-content-general" class="ccm-tab-content">
    <form action="{{ settingsForm.action }}" method="POST">
        <fieldset>
            <legend style="margin-bottom: 0;">
                {{ t('Systeem') }}
            </legend>
            <div class="control-group">
                {{ settingsForm.nameLabel }} {{ settingsForm.nameText }}
            </div>
            <div class="control-group">
                {{ settingsForm.adminLabel }} {{ settingsForm.adminSelect }}
                <span class="help-inline">{{ t('De groep van gebruikers die reserveringen mogen aanpassen.') }}</span>
            </div>
            <div class="control-group">
                {{ settingsForm.userLabel }} {{ settingsForm.userSelect }}
                <span class="help-inline">{{ t('De groep van gebruikers die reserveringen mogen maken.') }}</span>
            </div>
            <legend style="margin-bottom: 0;">
                {{ t('Reserveringen') }}
            </legend>
            <div class="control-group">
                {{ settingsForm.canCancelLabel }}
                <label class="radio">
                        {{ settingsForm.canCancelRadio }}
                        {{ t('Geannuleerd verblijf kan opnieuw geboekt worden.') }}
                            </label>
                <label class="radio">
                        {{ settingsForm.cannotCancelRadio }}
                        {{ t('Geannuleerd verblijf kan niet opnieuw geboekt worden.') }}
                            </label>
            </div>
            <div class="control-group">
                {{ settingsForm.changeDayLabel }} {{ settingsForm.changeDaySelect }}
                <span class="help-inline">{{ t('Op de wisseldag mogen twee reserveringen overlappen.') }}</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ t('Opslaan') }}</button>
            </div>
        </fieldset>
    </form>
</div>
<div id="ccm-tab-content-costs" class="ccm-tab-content">
    <form action="{{ settingsForm.action }}" method="POST">
        <fieldset>
            <div class="control-group">
                {{ settingsForm.creditsPerWeekDayLabel }} {{ settingsForm.creditsPerWeekDayText }}
            </div>
            <div class="control-group">
                {{ settingsForm.creditsPerWeekendDayLabel }} {{ settingsForm.creditsPerWeekendDayText }}
            </div>
            <div class="control-group">
                {{ settingsForm.userCreditsAnnualLabel }} {{ settingsForm.userCreditsAnnualText }}
            </div>
            <div class="control-group">
                {{ settingsForm.userCreditsMax }} {{ settingsForm.userCreditsMax }}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ t('Opslaan') }}</button>
            </div>
        </fieldset>
    </form>
</div>
