<div class="ccm-ui cottage_booker">
    {% if(loggedIn) %}
    <div class="page-header">
        <h1>{{ t('Welkom') }} {{ userFullName }}!
                <small>{{ t('Je hebt') }}
                    <span class="badge badge-info cottage_booker-i-user-credits">{{ userCredits }}</span>
                    <span class="cottage_booker-i-user-credits--suffix">{{ (userCredits == 1) ? 'schelp' : ' schelpen' }}.
                    {% if (isRegistered) %}
                        {% if !empty(adminPageLink) %}
                            (<a href="{{ adminPageLink }}">{{ t('instellingen') }}</a> /
                        {% endif %}
                        <a href="{{ logoutUrl }}">{{ t('uitloggen') }}</a>)
                    {% endif %}
                    </span>
                </small>
            </h1>
    </div>

    <div class="cottage_booker__flashmessages"></div>

    <div class="cottage_booker__view cottage_booker__view--full-calendar"></div>

    <div class="cottage_booker__view cottage_booker__view--book-form hide">
        <form>
            <fieldset>
                <legend class='cottage_booker__view--book-form__legend'>{{ t('Reserveren') }}</legend>
                {{ formHiddenId }}
                <div class="control-group">
                    {{ formLabelStart }} {{ formDateStart }}
                </div>
                <div class="control-group">
                    {{ formLabelEnd }} {{ formDateEnd }}
                </div>
                <div class="control-group">
                    {{ formLabelCredits }} {{ formInputCredits }}
                    <span class="add-on">{{ t('schelpen') }}</span>
                    <span class="help-block">
                            Het aantal schelpen wordt automatisch berekend. Een weekdag kost
                            <span class="badge badge-info">{{ schelpenPerDag }}</span> {{ ($schelpenPerDag == 1) ? 'schelp' : ' schelpen' }}, een weekenddag kost <span class="badge badge-info">{{ schelpenPerWeekendDag }}</span> {{ ($schelpenPerDag == 1) ? 'schelp' : ' schelpen' }}.
                    </span>
                </div>
                <div class="control-group">
                    {{ formLabelPersons }} {{ formInputPersons }}
                    <span class="add-on">{{ t('personen') }}</span>
                </div>
                <div class="control-group">
                    {{ formLabelNotes }} {{ formInputNotes }}
                </div>
                <div class="form-actions">
                    <button type="button" class="btn cottage_booker__book-form__button--view-calendar"><i class="icon-calendar"></i> {{ t('Terug') }}</button>
                    <button type="button" class="btn btn-danger cottage_booker__book-form__button--delete"><i class="icon-trash icon-white"></i> {{ t('Verwijderen') }}</button>
                    <button type="submit" class="btn btn-primary cottage_booker__book-form__button--book"><i class="icon-ok icon-white"></i> {{ t('Reserveer') }}</button>
                </div>
            </fieldset>
        </form>

        <div class="cottage_booker__book-form__confirm__delete hide">
            <p>{{ t('Weet je zeker dat je deze reservering wilt verwijderen?') }}</p>
            <p>{{ t('Je kunt niet opnieuw in dezelfde periode reserveren.') }}</p>
        </div>

        <div class="cottage_booker__exception hide">
        </div>

    </div>

    <a href="{{ actionNew }}" class="cottage_booker__action--new hide"><i class= "icon-plus" ></i>{{ t('reserveren') }}</a>
    <a href="{{ actionFetchall }}" class="cottage_booker__action--fetchall hide"></a>
    <a href="{{ actionFetchallexceptions }}" class="cottage_booker__action--fetchallexceptions hide"></a>
    <a href="{{ actionUpdate }}" class="cottage_booker__action--update hide"></a>
    <a href="{{ actionDelete }}" class="cottage_booker__action--delete hide"></a>
    <a href="{{ actionCredits }}" class="cottage_booker__action--credits hide"></a>
    {% else %}
    <div class="page-header">
        <h1>{{ t('Welkom gast') }}!
                <small>{{ t('Om te reserveren moet je eerst') }}
                    <a href="/login">{{ t('inloggen') }}</a> {{ t('of') }}
                    <a href="/register">{{ t('registreren') }}</a>
                </small>
            </h1>
    </div>
    {% endif %}
</div>
